body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  padding: 0 1 rem;
}

nav .brand-logo {
  font-size: 2em !important;
}

.brand-logo{
  margin-left: 20px;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1 rem;
}

.card{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  
}

.catrd-content{
  height: 120px !important;
  flex-grow:0; 
  justify-content: center;
  align-items: center;
 
}

.card-action{
  display: flex;
  justify-content:center;
}

/* ANIMATIONS */

@keyframes show {
  from {
    top:70%;
    opacity: 0;
  }
  to{
    top:50%;
    opacity: 1;
  }
}

@keyframes toast-fade-in{
  from{
    opacity: 0;
    transform: translateY(2rem)
  }

  to{
    opacity: 1;
    transform: translateY(0rem)
  }
  
}